
#lololo{
background-image: url("505050.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

#oko{
margin-left: 15%;
margin-right:15%;
background-color: white;
padding: 40px;
width: 70%;
height: 100%;
}
      #okoko {
        margin-left: 15%;
        margin-right:15%;
        background-color: black;
        color: black;

      }
      #momomo{
      
      margin-left: 15%;
      margin-right:15%;  
      background-color: white;
      
 }

 .info{
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  margin-left: 10px;
  margin-right: 10px;
  padding: 1px;
  text-align: justify;
}

a,a:active,a:hover{
  color: red;
}


h5,h3,h2,h1{
    font-family: 'Merriweather', serif;
}
h1{
  margin-left: -5%;
}
h2{
  margin-left: 10px;

}
p{
  margin-left:15px;
  margin-right:15px;
  font-family: 'Ubuntu', sans-serif;
}
h6{
  font-family: 'Ubuntu', sans-serif;
}
#footer{
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.divi {
  text-align: center;
  float: left;
  width: 40%;
  padding: 20px;
height: 380px;

}

.articli {
  float: left;
  width: 60%;
  height: 380px;
  padding: 20px;
  text-align: justify;
}
.tlacitko{
  text-align: right;
}
@media (max-width: 1200px) {
  h1{
    margin-left: 5%;
    font-size: 165%;
    text-align: center;
  }
  .tlacitko{
    font-size: 165%;
    text-align: center;
}
}
@media (max-width: 833px) {
  .divi, .articli {
    width: 100%;
    height: auto;
    text-align: center;
  }
  #okoko {
    margin-left: 10%;
    margin-right:10%;
    background-color: black;
    color: black;
  }
  #momomo{ 
  margin-left: 10%;
  margin-right:10%;  
  background-color: white;
}
#oko{
  margin-left: 10%;
  margin-right:10%;
  background-color: white;
  padding: 40px;
  width: 80%;
  height: 100%;
  }
  h1{
    margin-left: 5%;
    font-size: 150%;
    text-align: center;
  }
  .tlacitko{
    text-align: center;
}
}

.green{
  margin-right: 25%;
  margin-left:25%;
  width: 50%;
  text-align: center;
}

@media (max-width: 800px) {
  .green{
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    text-align: center;
  }
}